@import "tailwindcss";

:root{
    --mainColor : oklch(70.2% 0.183 293.541) ;
    --secondColor : oklch(89.4% 0.057 293.283) ;
    --bgColor : oklch(96.8% 0.007 247.896) ;
    --bgDark : oklch(37% 0.013 285.805) ;
}

@keyframes neonBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.neon-border {
  position: relative;
  z-index: 0;
}

.neon-border::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: linear-gradient(270deg, violet, pink, blue, red, red, blue, pink, violet);
  background-size: 600% 600%;
  z-index: -1;
  border-radius: inherit;
  animation: neonBorder 10s ease infinite;
  filter: blur(5px);
}

.neon-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--secondColor); /* background asli div */
  border-radius: inherit;
  z-index: -1;
}

.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* sedikit di bawah text */
  width: 0%;
  height: 2px; /* tebal garis */
  background-color: #a855f7; /* ungu Tailwind (purple-500) */
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}
